<div class="container mt-3">
  <div class="mx-1 mb-3 p-3 bg-white rounded-4">
    <h2>Upload a Flyer</h2>
    <%= simple_form_for @scan do |f| %>
      <%= f.input :store_id, collection: @stores, label_method: :name %>
      <%= f.input :flyer, as: :file, label: "Upload a file (pdf or image): " %>
      <%= f.button :submit, class: "btn btn-primary rounded-4" %>
    <% end %>
  </div>
  <div class="mx-1 mb-5 p-2 pt-3 bg-white rounded-4">
    <h3>Recently Uploaded Flyers</h3>
    <ul class="lists-body ps-0">
      <% @scans.each do |scan| %>
        <li class="list-card d-flex justify-content-between rounded-4 mb-1">
          <div>
            <%= link_to "Flyer for #{scan.store.name} ", scan_path(scan), class: "mb-1" %>
            <div class="list-meta">
              <i class="fa-regular fa-clock me-1"></i>
              <%= scan.created_at.strftime("%d %B %Y, %H:%M") %>
            </div>
          </div>
          <%= button_to scan, method: :delete, class: "btn-delete", form: { data: { turbo_confirm: "Do you want to delete this flyer?" } } do %>
            <i class="fa-solid fa-trash"></i>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
