<div class="container mt-3">
  <p>You just scanned this flyer:</p>
  <div class="container mb-3">
    <%= link_to 'Check it out here', @scan.flyer.url, target: "_blank" %>
  </div>
  <div class="container mb-3">
    <%= cl_image_tag @scan.flyer.key, height: 300, width: 400, crop: :fill %>
  </div>
  <div class="container">
    <%= @scan.store.name %>
    <ul class="list-group list-group-flush ">
      <% @prices.each do |price| %>
        <li class="list-group-item">
          <%= "#{price.product.name} ￥#{price.price_with_tax}" %>
          <%= link_to "Edit", "#", class: "btn btn-primary", data: { bs-toggle: "modal", bs-target: "#editModal#{price.id}"} %>
        </li>
        <%= render "prices/edit", price: price, scan_id: @scan.id %>
      <% end %>
    </ul>
  </div>
</div>
