<% content_for :meta_title, "#{@scan.store.name} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_image, cl_image_path(@scan.flyer.url) %>
<div class="container mt-3">
  <%= link_to new_scan_path, class: "back-link" do %>
    <i class="fa-solid fa-chevron-left me-1"></i>Back
  <% end %>
  <p>You just scanned this flyer:</p>
  <div class="container mb-3">
    <%= link_to 'Check it out here', @scan.flyer.url, target: "_blank" %>
  </div>
  <div class="container mb-3">
    <%= cl_image_tag @scan.flyer.key, height: 300, width: 400, crop: :fill %>
  </div>
  <div class="container">
    <%= @scan.store.name %>
    <ul class="list-group list-group-flush ">
      <% @prices.each do |price| %>
        <li class="list-group-item d-flex justify-content-between">
          <%= "#{price.product.name} ￥#{price.price_with_tax}" %>
          <div class="d-flex gap-2">
            <%= link_to "Edit", "#", class: "btn btn-primary", data: { bs_toggle: "modal", bs_target: "#editModal#{price.id}"} %>
            <%= render "prices/edit", price: price, scan_id: @scan.id %>
            <%= button_to price, method: :delete, class: "btn-delete", form: { data: { turbo_confirm: "Delete this product?" } } do %>
              <i class="fa-solid fa-trash"></i>
            <% end %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
