<div class="modal fade" id="editModal<%= price.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <%= simple_form_for price, url: price_path(price, scan_id: scan_id), method: :patch do |f|%>
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Check and Edit</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <%= simple_fields_for :product, price.product do |pf| %>
            <%= pf.hidden_field :id %>
            <%= pf.input :name, label: "Product Name" %>
            <%= pf.input :description, label: "Description" %>
          <% end %>
          <%= f.input :price_without_tax, label: "Price without tax" %>
          <%= f.input :price_with_tax %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <%= f.submit "Save Changes", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
